<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <allow users="*"/>
    </authorization>
    <compilation debug="true" targetFramework="4.5"></compilation>
    <httpRuntime/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="RestfulWCF.Service.Service1">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="RestfulWCF.Service.IService1"
                  bindingConfiguration="ApiQuotaBinding"
                  behaviorConfiguration="webHttpBehavior">
        </endpoint>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="ApiQuotaBinding" maxReceivedMessageSize="1048576000" maxBufferPoolSize="1048576000"
                 maxBufferSize="1048576000" closeTimeout="00:03:00"
                 openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00">
          <readerQuotas maxDepth="32" maxStringContentLength="1048576000" maxArrayLength="1048576000" maxBytesPerRead="1048576000"/>
          <security mode="None"></security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name ="webHttpBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
